<div class="jumbotron" ng-show="status == 'waiting'">
	<div class="container" >
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
		<br>
		<div class="pull-right"><button class="btn btn-default btn-md shutdown" ng-click="stopIpython()" ng-show="isRunning"><span class="glyphicon glyphicon-remove"></span>&nbsp; Cancel</button></div>
	</div>
</div>

<div class="jumbotron" ng-show="status == 'stopped'">
	<div class="container" >
	  <h1>Welcome to Ipython Desktop</h1>
	  <p>...</p>
	  
	  <button class="btn btn-success btn-lg start" ng-click="startIpython()" ng-hide="isRunning">Start Server</button>
	  <button class="btn btn-danger btn-lg shutdown" ng-click="stopIpython()" ng-show="isRunning">Shutdown</button>
	  <a class="btn btn-lg" href="#/config" ng-hide="isRunning">Configure</a>

	</div>
</div>

<!-- ng-show="status == 'running'" -->
<iframe 
   		id="ipython-frame"
   		class="container"
        style="min-height: 200px; height: 100%; border: 0"
        src="about:blank">
</iframe>
