<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="modal-header">
    <div class="modal-title">
        <h2>IPython Desktop Preferences</h2>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>General</h3>
            <div class="form-group">
                <label>Auto start server</label>
                <input type="checkbox" ng-model="autoStart" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Servers</h3>
            <button class="btn" ng-click="addServer()"><span class="glyphicon glyphicon-plus"></span>new</button>
            <br><br>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row" ng-repeat="conf in configurations">
        <div class="col-sm-12 col-md-12 col-lg-12" ng-class="{'alert alert-success': conf.isDefault}">
            <form id="form-edit-{{conf.id}}" class="form-group form-group-sm">
                <label>{{conf.id}}</label>
                <!--  <label>{{conf.id}}</label>
                 <input type="text" name="name" ng-model="conf.name"  class="form-control input-sm">    -->
                <div ng-show="conf.type == 'local'">
                    <label>IPython executable</label>
                    <input type="text" name="ipython" ng-model="conf.ipython"  class="form-control input-sm">
                    <label>IPython profile name</label>
                    <input type="text" name="ipython-profile" ng-model="conf.ipyProfile"  class="form-control input-sm">
                    <label>IPython Options</label>
                    <input type="text" name="ipython-options" ng-model="conf.ipythonOpts"  class="form-control input-sm">
                </div>
                <div class="form-group" ng-hide="conf.type == 'local'">
                    <label>URL</label>
                    <input type="text" name="ipython" ng-model="conf.ipython" class="form-control input-sm">
                </div>
                <label>Type</label>
                <div class="input-group">
                    <label class="radio-inline">
                        <input type="radio" ng-model="conf.type" value="local"> Local
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="conf.type" value="remote"> Remote
                    </label>
                </div>
                <!--             <button class="btn btn-warning pull-right" ng-click="resetConf()">Reset defaults</button>
                -->
            </form>
            <div><button class="btn btn-sm btn-danger" ng-click="deleteServer(conf.id)"><span class="glyphicon glyphicon-trash"></span>Delete</button>

                <div ng-hide="conf.isDefault"><button class="btn btn-sm pull-right" ng-click="setAsDefault(conf.id)">Set as default</button>
                    <br >
                    <br>
                </div>
                <p class="text-right" ng-show="conf.isDefault"><em><small>default server</small></em></p>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save();$close()">Save</button>
    <button class="btn" ng-click="$dismiss()">Cancel</button>
</div>

</body>
</html>