
   <iframe ng-show="conf.running"
   		id="ipython-frame"
   		class="container"
           style="min-height: 200px; height: 100%; border: 0"
           ng-src="{{serverUrl}}">
   </iframe>
<div class="container-fluid" >
  <div class="row" ng-hide="conf.running">
    <div class="col-md-12 col-sm-12 col-lg-12"><strong>{{conf.name}}</strong>
      <button class="btn btn-success start" ng-click="startIpython()" ng-hide="conf.running">Start</button>
      <button class="btn btn-danger shutdown" ng-click="stopIpython()" ng-show="conf.running">Shutdown</button>
    </div>
  </div>
</div> <!-- /container -->
